#!/bin/bash

# Lock computer
alias afk="i3lock"

# Dotfiles edition
alias cfi3="vim $HOME/.config/i3/config"
alias cfvim="vim $HOME/.vimrc"
alias cfzsh="vim $HOME/.zshrc"
alias cfxres="vim $HOME./Xresources"
alias cfpb="vim $HOME/.config/polybar/config"
alias lt="ls -lt"
